SpaceCombat/SpaceCombat/SpaceCombat.csproj.Debug.cachefile
SpaceCombat/SpaceCombat/SpaceshipGame.csproj.Debug.cachefile
SpaceCombat/SpaceCombat/SpaceshipGame.csproj.user
SpaceCombat/SpaceCombat/bin/
SpaceCombat/SpaceCombat/obj/
SpaceCombat/SpaceCombatContent/obj/
*.suo
